body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.nav-link{
  margin-left: 50px;
}

.footerlinks a{
  color: gray;
}

.aboutPara {
  font-size: 1.2rem;
  color: rgb(70, 70, 70);
  line-height: 1.8;
}


.Founder {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* justify-content: center; */
  
}
.Founder  img { 
  width: 350px;
  height: 350px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 2rem;
}

#supportHero{
  background-color: #387ED1;
   color: #fff;
}

#supportwrapper{
 
  display: flex;
  justify-content: space-between;
  margin: 0 200px;
}

#supportwrapper a {
  color: #fff;
}



#supportSearch a {
 color: #fff;
 text-decoration: underline ;
}

#supportSearch input {
  width: 500px;
  height: 70px;
  padding: 10px;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 20px;
  margin-bottom: 10px;
  
}

.input-field::placeholder{
  font-size: 20px;
}